@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
     font-family: 'Benne';
}

body {  
      top: 0;
     height: 100vh;
     width: 100vw;
     background: url("./assets/home/background-home-desktop.jpg") center center;
}
@media screen and (max-width:936px){
  body{
          height: 100vh;
          width: 100vw;
          background: url("./assets/home/background-home-tablet.jpg") center center cover no-repeat;
     }
}
@media screen and (max-width:576px) {
     body{
          height: 100vh;
          width: 100vw;
          background: url("./assets/home/background-home-mobile.jpg") center center cover;
     }
}
ol li{
     list-style-type: decimal-leading-zero;
}


.destination{
     width: 100vw;
     height: 100vh;
     background: url("./assets/destination/background-destination-desktop.jpg");
}

/* Custom styles for tabs */
.react-tabs__tab {
  background-color: transparent;
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4px;
}
.react-tabs__tab-panel {
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px;
}
